/*color: #e07474*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1,h5{
    color: #e07474;
}
.about-summary{

}
.detailed-summary{
    background-color: #e07474;
    color: white;
    padding: 1%;
    padding-left: 3%;
}
.detailed-summary h3{
    color: black;
}