/*color: #e07474*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
html, body {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Optional: Add custom styles for the navbar */
.navbar {
    transition: background-color 0.3s ease;
}
/* Default background color */
.navbar.bg-light {
    background-color: white;
}

/* Background color after scrolling */
.navbar.bg-custom {
    background-color: #e07474;
    color: white;
}

h1,h5{
    color: #e07474;
}
.detailed-summary{
    background-color: #e07474;
    color: white;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.detailed-summary h3{
    color: black;
}

.contact-body i{
    color: #e07474;
}
footer{
    background-color: #008080;
    color: white;
}
footer h5{
    color: white;
}
footer a {
    color: white; /* Ensures links are white */
    text-decoration: none; /* Optional: Removes underline from links */
}

footer a:hover {
    text-decoration: underline; /* Optional: Adds underline on hover for better visibility */
}